@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    font-family: 'Mukta', sans-serif;
}


form {
    display: flex;
    flex-direction: column;
}

.cardsContainer {
    display: flex;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 20px;
}