@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
    --DarkGray: #333333;
    --Gray: #666A86;
    --PowderBlue: #95B8D1;
    --CherryPink: #EDAFB8;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container.active {
    filter: blur(.8px);
}

/* header */

header {
    display: flex;
    background-color: var(--Gray);
    font-size: 2rem;
}

.logo {
    padding-left: 20px;
}

/* main */

main {
    background-color: var(--PowderBlue);
    height: 100%;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}

.addNewBook {
    align-self: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 1vh;
    background-color: var(--PowderBlue);
    font-size: 2rem;
    width: max-content;
    border: none;
}

.addNewBook:hover {
    background-color: var(--CherryPink);
}

.add {
    display: flex;
}

/* Form Positioning */
form {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    border: black 2px solid;
    border-radius: 1vw;
    width: 40vh;
    height: 500px;
    scale: .1;
    top: 20%; transform: translate(-50%, -50%);
    left: 34.6%; transform: translate(-50%, -50%);
    transition: 1ms;
}

form.visible {
    display: flex;
    visibility: visible;
    width: 40vh;
    height: 500px;
    scale: 1;
    top: 50%; transform: translate(-50%, -50%);
    left: 50%; transform: translate(-50%, -50%);
    transition: 1s;
}
/* Form styling */
#formElement {
    background-color: var(--DarkGray);
    color: var(--PowderBlue);
}

input {
    width: 80%;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: var(--CherryPink);
    border-radius: 11px;
    padding: 10px 0px 10px 0px;
    width: 200px;
    height: 200px;
}
.bookInfo {
    align-self: center;
    width: 100%;
}

.title {
    background-color: #333333;
}
.author {
}
.pages {
}
.readInfo {
}
.getAllInfo {
}

/* Footer */

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    background-color: var(--PowderBlue);
}