form {
    display: flex;
    flex-direction: column;
}

.cardsContainer {
    display: flex;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 20px;
}